#app.py
streamlit
matplotlib
seaborn
pandas
numpy
networkx
nltk
scikit-learn
spacy

#helper.py
streamlit
matplotlib
seaborn
pandas
numpy
networkx
wordcloud
emoji
urlextract
vaderSentiment
scikit-learn
nltk
spacy


